@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --poppis: 'Poppins';
    --qizil: #BB2339;
    --while: #FFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.text {
    width: 173px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid var(--while);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    background: var(--qizil);
}

.header__container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0 40px 0;
}

.content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-top_right-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
}


.content-top_right-link {
    color: var(--while);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.64px;
}

.logo {
    width: 131px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid var(--while);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-bottom-left-text {
    color: var(--while);
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.content-bottom-left-text3 {
    color: var(--while);
    font-family: var(--poppis);
    font-size: 16px;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 0.64px;
}

.content-bottom-left-title {
    width: 470px;
    color: var(--while);
    font-family: var(--poppis);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3.6px;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.content-bottom-left-text2 {
    width: 450px;
    color: var(--while);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
    padding-bottom: 40px;
}

.content-bottom {
    display: flex;
    align-items: center;
    padding-bottom: 237px;
}

/* main  */
.main {
    width: 100%;
}

.main__container {
    max-width: 1200px;
    margin: auto;
    padding-top: 70px;
}

.left-p {
    color: #B0B0B0;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
    text-transform: capitalize;
    padding-bottom: 70px;
}

.left-span {
    color: var(--qizil);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
    text-transform: capitalize;
}

.left-box {
    width: 428px;
    height: 844px;
    border-radius: 20px;
    background: var(--qizil);
    padding: 50px 40px 54px 40px;
}

.left-box-h3 {
    color: #FFF;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--poppis);
    font-size: 38px;
    font-weight: 500;
    line-height: 54px;
    text-transform: capitalize;
    padding-bottom: 40px;
}

.left-box_list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.left-box_item:active {
    background: #FFF;
}

.left-box_link:active {
    color: #BB2339;
}


.left-box_item {
    width: max-content;
    height: max-content;
    padding: 10px 30px;
    border-radius: 100px;
    border: 1px solid #FFF;
}

.left-box_link {
    width: 100%;
    height: 100%;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}

.contener {
    display: flex;
    column-gap: 36px;
    padding-bottom: 294px;
}

.content_right {
    padding-top: 91px;
}

.right_cards {
    display: flex;
    column-gap: 30px;
    row-gap: 52px;
    flex-wrap: wrap;
}

.content-bottom-right-img {
    width: 700px;
    height: 504px;
    margin-left: 100px;
    object-fit: cover;
}


.reght_card {
    width: 350px;
    height: 468px;
    border-radius: 14px;
    border: 1px solid rgba(36, 36, 36, 0.10);
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-card-h3 {
    width: 340px;
    color: #242424;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 20px 0px 30px 0px;
}

.right-card-text {
    color: var(--qizil);
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 700;
}


/* Gerícht updates  */

.sectio_4 {
    width: 100%;
}

.section_4-container {
    max-width: 1200px;
    margin: auto;
}

.content-topp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new {
    padding-top: 120px;
}

.wrap-cards {
    display: flex;
    column-gap: 30px;
    padding-bottom: 50px;
}

.content-bottomm {
    padding: 60px 0px 120px 0px;
}

.cards-link-text {
    width: 149px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid var(--qizil);
    color: #242424;
    font-family: var(--poppis);
    font-size: 16px;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 0.64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-cards-link {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrap-cards-card {
    width: 379px;
    height: 584px;
    border-radius: 14px;
    border: 1px solid rgba(36, 36, 36, 0.10);
    background: var(--while);
}

.card-image {
    width: 379px;
    height: 352px;
}

.card-taytl {
    width: 332px;
    color: #242424;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--poppis);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-transform: capitalize;
    padding: 20px 0px 10px 0px;
}

.card-card {
    padding: 0px 20px 30px 20px;
}

.card-p_f {
    width: 341px;
    color: #AAA;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
}

.card_min {
    display: flex;
    justify-content: space-between;
}

.card-min-text {
    color: var(--qizil);
    font-family: var(--poppis);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
}

.card-min-text {
    color: #242424;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}

/* section img  */
.sectio_5 {
    width: 100%;
    padding-bottom: 120px;
}

.section_5-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* instagram */
.sectio_6 {
    width: 100%;
    background: #F4F4F4;
    padding: 128px 0px 130px 0px;
}

.section-content {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: space-between;
}

.cantent-left {
    padding-left: 103px;
}

.left-qoshq {
    padding: 8px 0px;
}

.content-right {
    display: flex;
    column-gap: 20px;
}

.vive {
    border-radius: 14px;
    border: 1px solid rgba(36, 36, 36, 0.20);
}

.left-text {
    color: #242424;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--poppis);
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}

.left-title {
    color: #242424;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--poppis);
    font-size: 38px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: capitalize;
}

.left-text {
    width: 491px;
    color: #AAA;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
    padding: 24px 0px;
}

.wrap-cards-link {
    align-items: unset;
}

.wrap-cards-lin {
    width: 194px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid var(--qizil);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-link-tex {
    color: #242424;
    font-family: var(--poppis);
    font-size: 16px;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 0.64px;
}

/* footer  */

.footer {
    width: 100%;
    background: var(--qizil);
    margin-top: 341px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_caontainer {
    max-width: 1200px;
    margin: auto;
}

.footer-cards-card_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-wrap {
    padding-top: 350px;
}

.cards-card_2-box {
    display: flex;
    column-gap: 16px;
    padding-bottom: 80px;
}

.card_2-icon {
    color: #FFF;
}

.tt {
    background: #BB2339;
}

.footer-cards {
    display: flex;
    justify-content: space-between;
}

.footer-cads-card_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-card_2-text {
    width: 438px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.64px;
    padding: 32px 0px 45px 0px;
}

.cards-card_2-text_2 {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
}

.cads-card-h4 {
    color: #FFF;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--poppis);
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.28px;
    text-transform: capitalize;
    padding-bottom: 24px;
}

.dards-card-p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.64px;
    padding-bottom: 10px;
}

.dards-card-p_2 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.64px;
}

.ooter-cards-card_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_3-title {
    color: #FFF;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--poppis);
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.28px;
    text-transform: capitalize;
}

.card_3-text {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.64px;
}

.live {
    padding: 24px 0px 12px 0px;
}

/* Newsletter  */

.Newsletter {
    width: 1100px;
    height: 413px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    background: var(--qizil);
    box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -250px;
    z-index: 1;
}

.Newsletter-text {
    color: var(--FFFFFF, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--poppis);
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}

.Newsletter-title {
    color: #FFF;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--poppis);
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: capitalize;
    padding: 16px 0px 24px 0px;
}

.Newsletter-text-2 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
    padding-bottom: 64px;
}

.Email-box {
    display: flex;
    column-gap: 32px;
}

.Newsletter-input {
    width: 635px;
    height: 52px;
    border-radius: 100px;
    border: 1px solid rgba(245, 239, 219, 0.50);
    background: #BB2339;
    padding-left: 20px;
}

.link-p {
    color: #FFF;
    font-family: Cera Round Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 0.64px;
}

.email-box-link {
    width: 144px;
    height: 52px;
    border-radius: 100px;
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__bars {
    display: none;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #B0B0B0;

}

.mmm {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}


.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-top: 40px;
}

.div_icon {
    display: none;
}



@media (max-width: 1440px) {}

@media (max-width: 1320px) {
    .cantent-left {
        padding-left: 20px;
    }
}

@media (max-width: 1290px) {}

@media (max-width: 1170px) {
    .right-img_2 {
        display: none;
    }

    .section-content {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .cantent-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-text {
        text-align: center;
    }

    .contener {
        display: unset;
    }

    .content-top {
        padding: 0px 20px 0px 20px;
    }

    .left-box_list {
        display: flex;
        flex-direction: unset;
        flex-wrap: wrap;
        column-gap: 20px;
    }

    .right_cards {
        justify-content: center;
        padding-bottom: 100px;
    }

    .left-box {
        width: unset;
        height: unset;
    }

}

@media (max-width: 1140px) {}

@media (max-width: 1024px) {
    .Newsletter {
        width: unset;
        padding: 0px 10px 10px;
    }

    .Email-box {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }
}

/* Tab   */
@media (max-width: 992px) {}

@media (max-width: 850px) {
    .footer-cards {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        padding-bottom: 30px;
    }

    .footer-cards-card_3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-wrap {
        padding-top: 300px;
    }
}

/* Mobile  */
@media (max-width: 768px) {
    .content-top_right-list {
        display: none;
    }

    .menu__bars {
        display: none;
    }

    .icon__icon2 {
        display: none;
        color: gold;
    }

    .div_icon {
        display: block;
    }

    .icon__icon1 {
        display: block;
        color: gold;
    }

}

@media (max-width: 736px) {
    .Newsletter-title {
        text-align: center;
    }

    .Newsletter-input {
        width: 300px;
    }

    .Email-box {
        padding-bottom: 20px;
    }

    .Newsletter-text-2 {
        padding-bottom: 30px;
    }
}

@media (max-width: 684px) {}

/* Mobile < 576   */
@media (max-width: 576px) {
    .content-right {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width: 480px) {
    .left-text {
        max-width: 200px;
        text-align: center;
    }
}

@media (max-width: 412px) {
    .cards-card_2-text {
        max-width: 200px;
        text-align: center;
    }
}

@media (max-width: 375px) {}

@media (max-width: 360px) {
    .Newsletter-title {
        font-size: 30px;
    }
}




/* 
@media (max-width: 1440px) {}     ✔    
@media (max-width: 1320px) {}     ✔
@media (max-width: 1290px) {}     ✔
@media (max-width: 1170px) {}     ✔
@media (max-width: 1140px) {}     ✔
@media (max-width: 1024px) {}     ✔
 Tab  
@media (max-width: 992px) {}      ✔ 
@media (max-width: 850px) {}      ✔ 
 Mobile 
@media (max-width: 768px) {}      ✔
@media (max-width: 768px) {}      ✔
@media (max-width: 736px) {}      ✔
@media (max-width: 684px) {}      ✔
  Mobile < 576  
@media (max-width: 576px) {}      ✔
@media (max-width: 480px) {}      ✔
@media (max-width: 412px) {}      ✔
@media (max-width: 375px) {}      ✔
@media (max-width: 360px) {}      ✔
 */